<?xml version="1.0"?>
<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="connection" connectionString="Data Source=TIGRIFERUM-NOTE\SQLEXPRESS;Initial Catalog=kemconsult;Persist Security Info=True;User ID=sa;Password=tristan65536" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>

    <authentication mode="Forms">
       <forms loginUrl="AdminLogin.aspx" defaultUrl="Admin/Default.aspx"
          timeout="5000">
          <credentials passwordFormat="Clear" lockItem="true">
             <user name="admin" password="123" />
          </credentials>
       </forms>
    </authentication>
	</system.web>

  <location path="Admin">
    <system.web>
      <authorization>
        <allow users="Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="fck">
    <system.web>
      <authorization>
        <allow users="Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>
